.appHeader {
    background-color: #ffe4cf;
}


.containerItem{
    display: flex;
    justify-content: space-between;
}

.containerImagenItem{
    width: 80%;
    display: flex;
    justify-content: center;
}

.container {
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.App {
    background-color: #ffe4cf;
}